app/google-services.json
/app/keystore.properties
/app/keystore.jks
*.iml
.gradle
/local.properties
/.idea/vcs.xml
/.idea/inspectionProfiles
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/test/resources/ranks/
