secrets.json
/.kinta
/.buildmetrics
/app/google-services.json
/app/keystore.properties
/app/keystore.jks
*.iml
.gradle
/local.properties
/.idea/vcs.xml
/.idea/inspectionProfiles
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.externalNativeBuild
/buildSrc/build
/hsmodel/build
.idea
/*/build
/classes
debug.url
.cxx
